n8n/generate-stories.json
{
  "name": "Generate Stories",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-stories",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.body.supabase_url }}/rest/v1/requirement_inputs?id=eq.{{ $json.body.input_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.body.supabase_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.body.supabase_key }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "processing" }
          ]
        },
        "options": {}
      },
      "id": "set-processing",
      "name": "Set Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Webhook').item.json.body.supabase_url }}/rest/v1/generation_runs?id=eq.{{ $('Webhook').item.json.body.run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "running" },
            { "name": "started_at", "value": "={{ $now.toISO() }}" }
          ]
        },
        "options": {}
      },
      "id": "set-run-running",
      "name": "Set Run Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.requesty.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Webhook').item.json.body.requesty_api_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-20250514\",\n  \"max_tokens\": 8192,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a requirements analyst. Your task: convert raw requirement text into structured user stories.\\n\\nCRITICAL: You MUST respond with ONLY a valid JSON object. No markdown, no explanation, no text before or after the JSON. Start your response with { and end with }.\\n\\nRULES:\\n- ONLY generate stories from information explicitly present in the input. Do NOT invent requirements.\\n- If the input is not a requirements document (e.g. it is a training guide, meeting agenda, or general description), extract any actionable requirements you can find and flag the rest as gaps.\\n- If information is missing or ambiguous, flag it in the flagged_gaps array.\\n- Assign a confidence score (0.0 to 1.0) based on how clearly the requirement was stated.\\n- For each story, include the source_excerpt — the exact phrase or sentence from the input that this story derives from.\\n\\nRESPOND WITH THIS EXACT JSON STRUCTURE:\\n{\\n  \\\"stories\\\": [\\n    {\\n      \\\"title\\\": \\\"Short descriptive title\\\",\\n      \\\"persona\\\": \\\"type of user\\\",\\n      \\\"action\\\": \\\"what they want to do\\\",\\n      \\\"benefit\\\": \\\"why they want it\\\",\\n      \\\"acceptance_criteria\\\": [\\n        { \\\"given\\\": \\\"...\\\", \\\"when\\\": \\\"...\\\", \\\"then\\\": \\\"...\\\" }\\n      ],\\n      \\\"priority\\\": \\\"high|medium|low\\\",\\n      \\\"story_points\\\": 3,\\n      \\\"labels\\\": [\\\"auth\\\", \\\"backend\\\"],\\n      \\\"source_excerpt\\\": \\\"exact quote from input\\\",\\n      \\\"confidence\\\": 0.85,\\n      \\\"flagged_gaps\\\": [\\\"No error handling requirements specified\\\"]\\n    }\\n  ]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(($('Webhook').item.json.body.raw_text || '').substring(0, 15000)) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-llm",
      "name": "Call Requesty LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\n\ntry {\n  let content = response.choices[0].message.content;\n  content = content.replace(/^```(?:json)?\\n?/gm, '').replace(/```$/gm, '').trim();\n  const parsed = JSON.parse(content);\n  const stories = parsed.stories || [];\n\n  const storyRows = stories.map(s => ({\n    input_id: webhookData.input_id,\n    project_id: webhookData.project_id,\n    title: s.title || 'Untitled Story',\n    persona: s.persona || 'user',\n    action: s.action || '',\n    benefit: s.benefit || '',\n    acceptance_criteria: JSON.stringify(s.acceptance_criteria || []),\n    priority: s.priority || 'medium',\n    story_points: s.story_points || null,\n    labels: `{${(s.labels || []).join(',')}}`,\n    source_excerpt: s.source_excerpt || null,\n    confidence: s.confidence || 0.5,\n    flagged_gaps: `{${(s.flagged_gaps || []).map(g => `\"${g.replace(/\"/g, '\\\\\"')}\"`).join(',')}}`,\n  }));\n\n  return [{\n    json: {\n      stories: storyRows,\n      story_count: storyRows.length,\n      token_usage: {\n        prompt_tokens: response.usage?.prompt_tokens || 0,\n        completion_tokens: response.usage?.completion_tokens || 0,\n        model: response.model || 'unknown'\n      },\n      error: null\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      stories: [],\n      story_count: 0,\n      token_usage: null,\n      error: 'Failed to parse LLM response: ' + e.message\n    }\n  }];\n}"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1170, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-error",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.supabase_url }}/rest/v1/generated_stories",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Parse Response').item.json.stories) }}",
        "options": {}
      },
      "id": "insert-stories",
      "name": "Insert Stories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1630, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Webhook').item.json.body.supabase_url }}/rest/v1/requirement_inputs?id=eq.{{ $('Webhook').item.json.body.input_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "completed" }
          ]
        },
        "options": {}
      },
      "id": "set-completed",
      "name": "Set Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Webhook').item.json.body.supabase_url }}/rest/v1/generation_runs?id=eq.{{ $('Webhook').item.json.body.run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"prompt_tokens\": {{ $('Parse Response').item.json.token_usage.prompt_tokens }},\n  \"completion_tokens\": {{ $('Parse Response').item.json.token_usage.completion_tokens }},\n  \"model_used\": \"{{ $('Parse Response').item.json.token_usage.model }}\",\n  \"completed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "set-run-completed",
      "name": "Set Run Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2090, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Webhook').item.json.body.supabase_url }}/rest/v1/requirement_inputs?id=eq.{{ $('Webhook').item.json.body.input_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "error" }
          ]
        },
        "options": {}
      },
      "id": "set-error",
      "name": "Set Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1630, 450]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Webhook').item.json.body.supabase_url }}/rest/v1/generation_runs?id=eq.{{ $('Webhook').item.json.body.run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Webhook').item.json.body.supabase_key }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"error\",\n  \"error_message\": {{ JSON.stringify($('Parse Response').item.json.error) }},\n  \"completed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "set-run-error",
      "name": "Set Run Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Set Processing", "type": "main", "index": 0 }]
      ]
    },
    "Set Processing": {
      "main": [
        [{ "node": "Set Run Running", "type": "main", "index": 0 }]
      ]
    },
    "Set Run Running": {
      "main": [
        [{ "node": "Call Requesty LLM", "type": "main", "index": 0 }]
      ]
    },
    "Call Requesty LLM": {
      "main": [
        [{ "node": "Parse Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Response": {
      "main": [
        [{ "node": "Has Error?", "type": "main", "index": 0 }]
      ]
    },
    "Has Error?": {
      "main": [
        [{ "node": "Insert Stories", "type": "main", "index": 0 }],
        [{ "node": "Set Error", "type": "main", "index": 0 }]
      ]
    },
    "Insert Stories": {
      "main": [
        [{ "node": "Set Completed", "type": "main", "index": 0 }]
      ]
    },
    "Set Completed": {
      "main": [
        [{ "node": "Set Run Completed", "type": "main", "index": 0 }]
      ]
    },
    "Set Error": {
      "main": [
        [{ "node": "Set Run Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
